################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DataStructures/bin
/DataStructures.Tests/bin
/DataStructures.Tests/obj
/DataStructures/obj
/DataStructures/bin
/TestResults
*.suo
